/* .map-wrapper {
	position: relative;
} */

#map {
	height: 300px;
	width: 300px;
	/* position: absolute; */
	z-index: 1;
	overflow: visible;
}
/* Optional: Makes the sample page fill the window. */
/* html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
} */
