.header-wrapper {
	background-color: red;
	justify-content: center;
	align-items: center;
}

.header-width-adjust {
	height: 50px;
	width: 60%;
	justify-content: space-around;
	align-items: center;
	margin: 10px 0 10px 0;
}

.logo-image {
	width: 100px;
}
