.footerWrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 40px;
	padding-bottom: 80px;
	background-color: #efefef;
	border-top: 0.5px solid #ddd;
	margin-top: 50px;
}
.footerUl {
	font-size: 15px;
	margin: 0 30px 0 30px;
}
.footerUl li {
	list-style: none;
}

.footerTitle {
	color: red;
	font-weight: 500;
	margin-bottom: 10px;
}
